p{
margin-right:30px;
word-break:break-word;
}

.main {
    margin-left: 300px;
  font-family: arial;
  display: grid;
     grid-row-gap: 0px;
    grid-column-gap: 40px;
    grid-template-columns: auto;

}

.sidebar {
    position: fixed;
    margin-top: -23px;
    margin-left: -7px;
    width: 250px;
    padding-left: 20px;

    min-height:900px;
    background-color: lightblue ; /*#f0f0f0*/
}
.search {
    width:250px;
    margin-left: -15px;
    margin-top: -30px;
    font-size: 15px;
    height: 30px;
    line-height: 20px;
}
h2{
    font-size: 50px;
}

li{
    color: red;
}
#edit{
text-decoration:none;
float:right;
font-size:28px;
margin-top:50px;
margin-right:80px;

}

/*
code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}



*/


