{% extends "encyclopedia/layout.html" %}
{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% if val == False %}
        <h1>All Pages</h1>

    {% else %}
        <h1><a href="{%url 'edit_page' name=title%}">edit</a></h1>
    {% endif %}

    <ul>
        {% if val != False%}
                {{val|safe}}
        {%else %}
            {% for entry in entries %}
                <li><a href="{%url 'search' name=entry%}">{{ entry }}</a></li>
            {% endfor %}
        {%endif%}
        
    </ul>

{% endblock %}